public/wsdls/PurchaseRequestInputReqLineInterface.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/prc/po/editDocument/purchaseRequestService/"
     sdoJava:package="oracle.apps.prc.po.editDocument.purchaseRequestService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns="http://xmlns.oracle.com/apps/prc/po/editDocument/purchaseRequestService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Purchase Request Create Requisition Line Service Data
                Object Version 1</name>
            <description>Version 1 of an object, representing the set of requisition line
                attributes that are being used to initiate the creation of a
                purchase request.</description>
            <oer:attributes>
                <oer:attribute description="The deemed price at which a product is valued, by a tax authority, for tax calculation purposes. The same product can have more than one assessable value, as given by different tax authorities."
                     name="AssessableAmount"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute1"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute10"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute11"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute12"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute13"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute14"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute15"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute16"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute17"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute18"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute19"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute2"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute20"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute3"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute4"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute5"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute6"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute7"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute8"/>
                <oer:attribute description="The user descriptive flexfield segment of text data type."
                     name="Attribute9"/>
                <oer:attribute description="The user descriptive flexfield structure." name="AttributeCategory"/>
                <oer:attribute description="The user descriptive flexfield attribute of date data type."
                     name="AttributeDate1"/>
                <oer:attribute description="The user descriptive flexfield attribute of date data type."
                     name="AttributeDate10"/>
                <oer:attribute description="The user descriptive flexfield attribute of date data type."
                     name="AttributeDate2"/>
                <oer:attribute description="The user descriptive flexfield attribute of date data type."
                     name="AttributeDate3"/>
                <oer:attribute description="The user descriptive flexfield attribute of date data type."
                     name="AttributeDate4"/>
                <oer:attribute description="The user descriptive flexfield attribute of date data type."
                     name="AttributeDate5"/>
                <oer:attribute description="The user descriptive flexfield attribute of date data type."
                     name="AttributeDate6"/>
                <oer:attribute description="The user descriptive flexfield attribute of date data type."
                     name="AttributeDate7"/>
                <oer:attribute description="The user descriptive flexfield attribute of date data type."
                     name="AttributeDate8"/>
                <oer:attribute description="The user descriptive flexfield attribute of date data type."
                     name="AttributeDate9"/>
                <oer:attribute description="The user descriptive flexfield attribute of number data type."
                     name="AttributeNumber1"/>
                <oer:attribute description="The user descriptive flexfield attribute of number data type."
                     name="AttributeNumber10"/>
                <oer:attribute description="The user descriptive flexfield attribute of number data type."
                     name="AttributeNumber2"/>
                <oer:attribute description="The user descriptive flexfield attribute of number data type."
                     name="AttributeNumber3"/>
                <oer:attribute description="The user descriptive flexfield attribute of number data type."
                     name="AttributeNumber4"/>
                <oer:attribute description="The user descriptive flexfield attribute of number data type."
                     name="AttributeNumber5"/>
                <oer:attribute description="The user descriptive flexfield attribute of number data type."
                     name="AttributeNumber6"/>
                <oer:attribute description="The user descriptive flexfield attribute of number data type."
                     name="AttributeNumber7"/>
                <oer:attribute description="The user descriptive flexfield attribute of number data type."
                     name="AttributeNumber8"/>
                <oer:attribute description="The user descriptive flexfield attribute of number data type."
                     name="AttributeNumber9"/>
                <oer:attribute description="The user descriptive flexfield attribute of timestamp data type."
                     name="AttributeTimestamp1"/>
                <oer:attribute description="The user descriptive flexfield attribute of timestamp data type."
                     name="AttributeTimestamp10"/>
                <oer:attribute description="The user descriptive flexfield attribute of timestamp data type."
                     name="AttributeTimestamp2"/>
                <oer:attribute description="The user descriptive flexfield attribute of timestamp data type."
                     name="AttributeTimestamp3"/>
                <oer:attribute description="The user descriptive flexfield attribute of timestamp data type."
                     name="AttributeTimestamp4"/>
                <oer:attribute description="The user descriptive flexfield attribute of timestamp data type."
                     name="AttributeTimestamp5"/>
                <oer:attribute description="The user descriptive flexfield attribute of timestamp data type."
                     name="AttributeTimestamp6"/>
                <oer:attribute description="The user descriptive flexfield attribute of timestamp data type."
                     name="AttributeTimestamp7"/>
                <oer:attribute description="The user descriptive flexfield attribute of timestamp data type."
                     name="AttributeTimestamp8"/>
                <oer:attribute description="The user descriptive flexfield attribute of timestamp data type."
                     name="AttributeTimestamp9"/>
                <oer:attribute description="The unique identifier of a model from which an ATO configuration was created."
                     name="BaseModelId"/>
                <oer:attribute description="The model price from which an ATO configuration was created."
                     name="BaseModelPrice"/>
                <oer:attribute description="The unique identifier of a company that transports goods from one point to another by land, sea, or air."
                     name="CarrierId"/>
                <oer:attribute description="The unique identifier of a category used to group items with similar characteristics."
                     name="CategoryId"/>
                <oer:attribute description="The display name of a category used to group items with similar characteristics."
                     name="CategoryName"/>
                <oer:attribute description="Indicates whether or not the requisition line is for a configured item and configuration details might exist."
                     name="ConfiguredItemFlag"/>
                <oer:attribute description="A code indicating the three-letter ISO code associated with a currency."
                     name="CurrencyCode"/>
                <oer:attribute description="The display name of a customer&apos;s identification number or code for the goods ordered on your order line."
                     name="CustomerItemNumber"/>
                <oer:attribute description="A text description capturing a customer&apos;s identification number or code for the goods ordered on your order line."
                     name="CustomerItemDescription"/>
                <oer:attribute description="The display number used to identify a purchase order line from the customer that originated the sales order which is being fulfilled by the material being procured in a drop ship arrangement."
                     name="CustomerPOLineNumber"/>
                <oer:attribute description="The display number used to identify a purchase order from the customer that originated the sales order which is being fulfilled by the material being procured in a drop ship arrangement."
                     name="CustomerPONumber"/>
                <oer:attribute description="The display number used to identify a purchase order schedule from the customer that originated the sales order which is being fulfilled by the material being procured in a drop ship arrangement."
                     name="CustomerPOScheduleNumber"/>
                <oer:attribute description="The maximum acceptable number of days early for receipts."
                     name="DaysEarlyReceiptAllowed"/>
                <oer:attribute description="The maximum acceptable number of days late for receipts."
                     name="DaysLateReceiptAllowed"/>
                <oer:attribute description="The unique identifier of a customer contact to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerContactId"/>
                <oer:attribute description="The display name of a customer contact to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerContactName"/>
                <oer:attribute description="The display number used to identify a customer contact to which materials, being procured in a drop ship arrangement, need to be delivered"
                     name="DeliverToCustomerContactNumber"/>
                <oer:attribute description="The unique identifier of a customer to which materials, being procured in a drop ship  or back to back arrangement, need to be delivered."
                     name="DeliverToCustomerId"/>
                <oer:attribute description="The CLLI code for the customer location to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerLocationCLLICode"/>
                <oer:attribute description="The original system reference for the customer location to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerLocationOriginalSystemReference"/>
                <oer:attribute description="The unique identifier of a customer location to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerLocationId"/>
                <oer:attribute description="The display name of a customer to which materials, being procured in a drop ship or back to back arrangement, need to be delivered."
                     name="DeliverToCustomerName"/>
                <oer:attribute description="The display number used to identify a customer to which materials, being procured in a drop ship or a back to back arrangement, need to be delivered."
                     name="DeliverToCustomerNumber"/>
                <oer:attribute description="A code indicating the final delivery location for goods previously received from a supplier."
                     name="DeliverToLocationCode"/>
                <oer:attribute description="The unique identifier of a final delivery location for goods previously received from a supplier."
                     name="DeliverToLocationId"/>
                <oer:attribute description="A code indicating the organization to which the requested item should be delivered."
                     name="DeliverToOrganizationCode"/>
                <oer:attribute description="The unique identifier of a organization to which the requested item should be delivered."
                     name="DeliverToOrganizationId"/>
                <oer:attribute description="The display name of a subinventory to which the requested item should be delivered."
                     name="DestinationSubinventory"/>
                <oer:attribute description="A code indicating if the item should be charged to an inventory or should be expensed."
                     name="DestinationTypeCode"/>
                <oer:attribute description="A code indicating the final destination location for the purchases made by the customer. The location of the final customer or where the goods would be used is not necessarily the same as the initial ship-to location."
                     name="LocationOfFinalDischargeCode"/>
                <oer:attribute description="The unique identifier of a final destination location for the purchases made by the customer. The location of the final customer or where the goods would be used is not necessarily the same as the initial ship-to location."
                     name="LocationOfFinalDischargeId"/>
                <oer:attribute description="The unique identifier of the tax registration record corresponding to the sold-to legal entity on the purchase order."
                     name="FirstPartyTaxRegistrationId"/>
                <oer:attribute description="The unique display number assigned to the sold-to legal entity by a tax authority in order to manage tax liabilities"
                     name="FirstPartyTaxRegistrationNumber"/>
                <oer:attribute description="A code indicating the option by which the requisition lines are grouped when they are being processed by the  import program. Requisition lines that are grouped together will be put on the same  requisition header.  Valid values include NONE, BUYER, CATEGORY, ITEM , LOCATION, and SUPPLIER."
                     name="GroupCode"/>
                <oer:attribute description="The display name of a classification of hazardous materials, to facilitate safety regulations compliance."
                     name="HazardClass"/>
                <oer:attribute description="The unique identifier of a classification of hazardous materials, to facilitate safety regulations compliance."
                     name="HazardClassId"/>
                <oer:attribute description="The cloud interface alternate line key code for integrating applications to be able to identify  the requisition line data loaded in the interface table."
                     name="InterfaceLineKey"/>
                <oer:attribute description="A text description capturing details about the item being purchased."
                     name="ItemDescription"/>
                <oer:attribute description="The unique identifier of an item." name="ItemId"/>
                <oer:attribute description="The display name of an item representing anything you make, purchase, or sell, including components, subassemblies, finished products, or supplies."
                     name="ItemNumber"/>
                <oer:attribute description="The identifier of an inventory item version being referenced on an order line."
                     name="ItemRevision"/>
                <oer:attribute description="A code indicating the type of the tax classification that is based on the purpose for which a product is used."
                     name="LineIntendedUse"/>
                <oer:attribute description="The unique identifier of a tax classification that is based on the purpose for which a product is used."
                     name="LineIntendedUseId"/>
                <oer:attribute description="The display name of a tax classification that is based on the purpose for which a product is used."
                     name="LineIntendedUseName"/>
                <oer:attribute description="The display name of a line type that indicates whether a purchase is for goods or services."
                     name="LineType"/>
                <oer:attribute description="The unique identifier of a line type that indicates whether a purchase is for goods or services."
                     name="LineTypeId"/>
                <oer:attribute description="The display name of a mode of transportation used to describe the movement of goods."
                     name="ModeOfTransportCode"/>
                <oer:attribute description="Indicates whether or not the requested item is negotiated with the supplier."
                     name="NegotiatedByPreparerFlag"/>
                <oer:attribute description="Indicates whether or not a negotiation is required for the requested item."
                     name="NegotiationRequiredFlag"/>
                <oer:attribute description="Indicates whether or not the supplier is new." name="NewSupplierFlag"/>
                <oer:attribute description="A text description capturing the instructions to the buyer when processing the requisition line."
                     name="NoteToBuyer"/>
                <oer:attribute description="A text description capturing the instructions to the receiver in the docking area to be reviewed while performing the receipt."
                     name="NoteToReceiver"/>
                <oer:attribute description="The unique identifier of a procurement business unit."
                     name="ProcurementBUId"/>
                <oer:attribute description="The display name of a procurement business unit." name="ProcurementBUName"/>
                <oer:attribute description="A code indicating the type of product fiscal classification used to classify products."
                     name="ProductCategory"/>
                <oer:attribute description="The display name of a product fiscal classification type used to classify products."
                     name="ProductCategoryName"/>
                <oer:attribute description="A code indicating the classification used by a tax authority to categorize a product for a tax. There could be more than one by tax. For example, for Brazil two classifications are required."
                     name="ProductFiscalClassification"/>
                <oer:attribute description="The unique identifier of a classification used by a tax authority to categorize a product for a tax. There could be more than one by tax. For example, for Brazil two classifications are required."
                     name="ProductFiscalClassificationId"/>
                <oer:attribute description="The display name of a classification used by a tax authority to categorize a product for a tax. There could be more than one by tax. For example, for Brazil two classifications are required."
                     name="ProductFiscalClassificationName"/>
                <oer:attribute description="A code indicating the type of product fiscal classification used to classify products. Related term(s): product fiscal classification."
                     name="ProductType"/>
                <oer:attribute description="The display name of a product fiscal classification type used to classify products."
                     name="ProductTypeName"/>
                <oer:attribute description="The tolerance that allows a purchase order schedule to receive more than ordered quantity or amount without triggering the over-receipt action."
                     name="OverReceiptTolerancePercent"/>
                <oer:attribute description="The quantity for the  item to be added to the requisition."
                     name="Quantity"/>
                <oer:attribute description="The ratio at which the principal unit of one currency can be converted into another  currency."
                     name="Rate"/>
                <oer:attribute description="The date as of which a conversion rate is used to convert an amount into another  currency."
                     name="RateDate"/>
                <oer:attribute description="The source of a currency conversion rate, such as user defined, spot, or corporate. For  user-defined rate, provide ‘USER’ in the rate type."
                     name="RateType"/>
                <oer:attribute description="The day that the buying company has requested that the ordered item is ready to ship."
                     name="RequestedShipDate"/>
                <oer:attribute description="The email address for a requester." name="RequesterEmail"/>
                <oer:attribute description="The unique identifier of a requester." name="RequesterId"/>
                <oer:attribute description="The display number used to identify a backing customer sales order line number."
                     name="SalesOrderLineNumber"/>
                <oer:attribute description="The display number used to identify a backing customer sales order number."
                     name="SalesOrderNumber"/>
                <oer:attribute description="The display number used to identify a backing customer sales order schedule number."
                     name="SalesOrderScheduleNumber"/>
                <oer:attribute description="The quantity converted in the secondary unit of measure of a dual UOM controlled item."
                     name="SecondaryQuantity"/>
                <oer:attribute description="A code indicating the alternative unit of measure that is allowed to quantify a dual UOM controlled item."
                     name="SecondaryUOMCode"/>
                <oer:attribute description="A code indicating the priority of transportation that affects how quickly goods are transported."
                     name="ServiceLevelCode"/>
                <oer:attribute description="The unique identifier of a customer contact to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerContactId"/>
                <oer:attribute description="The display name of a customer contact to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerContactName"/>
                <oer:attribute description="The display number used to identify a customer to which materials, being procured in a drop ship or a back to back arrangement, need to be shipped."
                     name="ShipToCustomerContactNumber"/>
                <oer:attribute description="The unique identifier of a customer to which materials, being procured in a drop ship or a back to back arrangement, need to be shipped."
                     name="ShipToCustomerId"/>
                <oer:attribute description="The CLLI Code for the customer location to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerLocationCLLICode"/>
                <oer:attribute description="The original system reference for the customer location to which materials, being procured in a drop ship  arrangement, need to be shipped."
                     name="ShipToCustomerLocationOriginalSystemReference"/>
                <oer:attribute description="The unique identifier of a customer location to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerLocationId"/>
                <oer:attribute description="The display name of a customer to which materials, being procured in a drop ship or a back to back arrangement, need to be shipped."
                     name="ShipToCustomerName"/>
                <oer:attribute description="The display number used to identify a customer to which materials, being procured in a drop ship or a back to back arrangement, need to be shipped."
                     name="ShipToCustomerNumber"/>
                <oer:attribute description="The unique identifier of a purchase agreement against which this purchase order line is released."
                     name="SourceAgreementId"/>
                <oer:attribute description="The display number used to identify a purchase agreement against which this purchase order line is released."
                     name="SourceAgreementNumber"/>
                <oer:attribute description="The unique identifier of a purchase agreement line against which this purchase order line is released."
                     name="SourceAgreementLineId"/>
                <oer:attribute description="The display number used to identify a purchase agreement line against which this purchase order line is released."
                     name="SourceAgreementLineNumber"/>
                <oer:attribute description="The unique identifier of a buyer specified on the document."
                     name="BuyerId"/>
                <oer:attribute description="The display name of a buyer specified on the document."
                     name="BuyerName"/>
                <oer:attribute description="The display name of a supplier&apos;s identification number or code for the goods ordered on your order line."
                     name="SupplierItemNumber"/>
                <oer:attribute description="The display name of a supplier employee who represents the supplier in communications with the buying organization."
                     name="SupplierContactName"/>
                <oer:attribute description="The email address for a supplier employee who represents the supplier in communications with the buying organization."
                     name="SupplierContactEmail"/>
                <oer:attribute description="The fax for a supplier employee who represents the supplier in communications with the buying organization."
                     name="SupplierContactFax"/>
                <oer:attribute description="The phone number for a supplier employee who represents the supplier in communications with the buying organization."
                     name="SupplierContactPhone"/>
                <oer:attribute description="The display name of an organization or individual that provides goods or services to the buying organization for payment, bound by a contractual obligation."
                     name="SupplierName"/>
                <oer:attribute description="The display name of an entity that models how the buying organization conducts business with the supplier."
                     name="SupplierSiteName"/>
                <oer:attribute description="A code indicating the group of taxes for reporting and processing purposes."
                     name="TaxClassificationCode"/>
                <oer:attribute description="The display name of a group of taxes for reporting and processing purposes."
                     name="TaxClassificationName"/>
                <oer:attribute description="The unique tax registration identifier assigned to the supplier site on the purchase order when a tax authority registered the legal entity."
                     name="ThirdPartyTaxRegistrationId"/>
                <oer:attribute description="The display number used to identify a supplier site on the purchase order when a tax authority registered the legal entity."
                     name="ThirdPartyTaxRegistrationNumber"/>
                <oer:attribute description="A code indicating the business classification used by Oracle Fusion Tax to identify and categorize an external transaction into a Fusion Tax transaction."
                     name="TransactionBusinessCategory"/>
                <oer:attribute description="The display name of a business classification used by Oracle Fusion Tax to identify and categorize an external transaction into a Fusion Tax transaction."
                     name="TransactionBusinessCategoryName"/>
                <oer:attribute description="The display name of a United Nations identification number for the hazardous material."
                     name="UNNumber"/>
                <oer:attribute description="The unique identifier of a United Nations identification number for the hazardous material."
                     name="UNNumberId"/>
                <oer:attribute description="A code indicating the division of quantity defined as a standard of measurement or exchange."
                     name="UnitOfMeasureCode"/>
                <oer:attribute description="Indicates whether the requisition is urgent or not." name="UrgentRequisitionLineFlag"/>
                <oer:attribute description="A coding indicating the classification for any tax requirement that you cannot define using the existing fiscal classification types."
                     name="UserDefinedFiscalClassification"/>
                <oer:attribute description="The display name of a classification for any tax requirement that you cannot define using the existing fiscal classification types."
                     name="UserDefinedFiscalClassificationName"/>
                <oer:attribute description="The unique identifier of a supplier employee  who represents the supplier in communications with the buying organization."
                     name="SupplierContactId"/>
                <oer:attribute description="The unique identifier of an organization or individual that provides goods or services to the buying organization for payment, bound by a contractual obligation."
                     name="SupplierId"/>
                <oer:attribute description="The unique identifier of an entity that models how the buying organization conducts business with the supplier."
                     name="SupplierSiteId"/>
                <oer:attribute description="Indicates whether or not the purchase order schedule has a backing sales order that is fulfilled using a back to back order."
                     name="BackToBackFlag"/>
                <oer:attribute description="Indicates whether or not supplier and price information is derived from source purchase agreements."
                     name="AutosourceFlag"/>
                <oer:attribute description="Attachments of this category provide additional information about the item being ordered and will be copied over from the source object to the purchase order line."
                     name="AttachmentCategoryItem"/>
                <oer:attribute description="Attachments of this category provide additional information about the shipment being scheduled, like shipping or packing instructions, and will be copied over from the source object to the purchase order schedule."
                     name="AttachmentCategoryShip"/>
                <oer:attribute description="A code indicating the object from which the attachments should be copied."
                     name="AttachmentEntityName"/>
                <oer:attribute description="The unique identifier of an object from which attachments should be copied."
                     name="AttachmentPrimaryKey1"/>
                <oer:attribute description="The unique identifier of an object from which attachments should be copied."
                     name="AttachmentPrimaryKey2"/>
                <oer:attribute description="The unique identifier of an object from which attachments should be copied."
                     name="AttachmentPrimaryKey3"/>
                <oer:attribute description="The unique identifier of an object from which attachments should be copied."
                     name="AttachmentPrimaryKey4"/>
                <oer:attribute description="The unique identifier of an object from which attachments should be copied."
                     name="AttachmentPrimaryKey5"/>
                <oer:attribute description="The day that the buying company has requested that the supplier deliver the item."
                     name="RequestedDeliveryDate"/>
                <oer:attribute description="The unique identifier of a contract manufacturing work order."
                     name="WorkOrderId"/>
                <oer:attribute description="The display number used to identify the finished goods product of a contract manufacturing work order."
                     name="WorkOrderNumber"/>
                <oer:attribute description="The display name of a contract manufacturing work order."
                     name="WorkOrderProduct"/>
                <oer:attribute description="The display name of a model from which an ATO configuration was created."
                     name="BaseModelNumber"/>
                <oer:attribute description="The display name of a company that transports goods from one point to another by land, sea, or air."
                     name="Carrier"/>
                <oer:attribute description="A text description capturing the instructions to the supplier."
                     name="NoteToSupplier"/>
                <oer:attribute description="The total amount according to the quantities and prices of the goods and service items specified on the requisition line."
                     name="Amount"/>
                <oer:attribute description="The price of the item on the requisition line." name="Price"/>
                <oer:attribute description="The email address for a buyer specified on the document."
                     name="BuyerEmail"/>
                <oer:attribute description="A code indicating if the integrating application is synchronizing changes between their application and Fusion Procurement.  Example values include DOO_TRACKED and SCO_TRACKED."
                     name="OrchestrationCode"/>
                <oer:attribute description="The email of a customer contact to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerContactEmail"/>
                <oer:attribute description="The email for a customer contact to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerContactEmail"/>
                <oer:attribute description="An alternative unit of measure that is allowed to quantify a dual UOM controlled item."
                     name="SecondaryUOM"/>
                <oer:attribute description="A division of quantity defined as a standard of measurement or exchange."
                     name="UnitOfMeasure"/>
                <oer:attribute description="Purchase Request requisition distribution input information."
                     name="PurchaseRequestInputReqDistInterface"/>
                <oer:attribute description="Purchase Request requisition configuration details input information."
                     name="PurchaseRequestInputReqConfigInterface"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:include schemaLocation="PurchaseRequestInputReqDistInterface.xsd"/>
    <xsd:include schemaLocation="PurchaseRequestInputReqConfigInterface.xsd"/>
    <xsd:complexType name="PurchaseRequestInputReqLineInterface">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>ReqLineInterfaceId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AssessableAmount" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="Attribute1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeDate1" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate10" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate2" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate3" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate4" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate5" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate6" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate7" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate8" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate9" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeNumber1" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber10" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber2" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber3" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber4" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber5" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber6" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber7" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber8" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber9" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp1" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp10" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp2" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp3" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp4" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp5" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp6" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp7" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp8" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp9" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="BaseModelId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="BaseModelPrice" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="CarrierId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="CategoryId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="CategoryName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ConfiguredItemFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerItemNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerItemDescription" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerPOLineNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerPOScheduleNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DaysEarlyReceiptAllowed" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="DaysLateReceiptAllowed" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerContactId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerContactName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerContactNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerLocationCLLICode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerLocationOriginalSystemReference" nillable="true"
                 type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerLocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToLocationCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToLocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="DeliverToOrganizationCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToOrganizationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="DestinationSubinventory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="1" name="DestinationTypeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationOfFinalDischargeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationOfFinalDischargeId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="FirstPartyTaxRegistrationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="FirstPartyTaxRegistrationNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GroupCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="HazardClass" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="HazardClassId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="InterfaceLineKey" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ItemDescription" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ItemId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ItemNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ItemRevision" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LineIntendedUse" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LineIntendedUseId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="LineIntendedUseName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LineType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LineTypeId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ModeOfTransportCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NegotiatedByPreparerFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="NegotiationRequiredFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="NewSupplierFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="NoteToBuyer" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NoteToReceiver" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProcurementBUId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ProcurementBUName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProductCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProductCategoryName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProductFiscalClassification" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProductFiscalClassificationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ProductFiscalClassificationName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProductType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProductTypeName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OverReceiptTolerancePercent" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Quantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="Rate" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="RateDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RateType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestedShipDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RequesterEmail" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequesterId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="SalesOrderLineNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesOrderNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesOrderScheduleNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SecondaryQuantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="SecondaryUOMCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ServiceLevelCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerContactId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ShipToCustomerContactName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerContactNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ShipToCustomerLocationCLLICode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerLocationOriginalSystemReference" nillable="true"
                 type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerLocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ShipToCustomerName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceAgreementId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="SourceAgreementNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceAgreementLineId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="SourceAgreementLineNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="BuyerId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="BuyerName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplierItemNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplierContactName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplierContactEmail" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplierContactFax" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplierContactPhone" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplierName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplierSiteName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TaxClassificationCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TaxClassificationName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ThirdPartyTaxRegistrationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ThirdPartyTaxRegistrationNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TransactionBusinessCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TransactionBusinessCategoryName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UNNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UNNumberId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="UnitOfMeasureCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UrgentRequisitionLineFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="UserDefinedFiscalClassification" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UserDefinedFiscalClassificationName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SupplierContactId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="SupplierId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="SupplierSiteId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="BackToBackFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="AutosourceFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="AttachmentCategoryItem" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttachmentCategoryShip" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttachmentEntityName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttachmentPrimaryKey1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttachmentPrimaryKey2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttachmentPrimaryKey3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttachmentPrimaryKey4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttachmentPrimaryKey5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestedDeliveryDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="WorkOrderId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="WorkOrderNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WorkOrderProduct" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BaseModelNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Carrier" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NoteToSupplier" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Amount" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="Price" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="BuyerEmail" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrchestrationCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerContactEmail" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerContactEmail" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SecondaryUOM" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UnitOfMeasure" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PurchaseRequestInputReqDistInterface"
                 type="PurchaseRequestInputReqDistInterface"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PurchaseRequestInputReqConfigInterface"
                 type="PurchaseRequestInputReqConfigInterface"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="purchaseRequestInputReqLineInterface" type="PurchaseRequestInputReqLineInterface"/>
</xsd:schema>
