public/wsdls/PurchaseRequestChangeEntryDetail.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/prc/po/editDocument/purchaseRequestService/"
     sdoJava:package="oracle.apps.prc.po.editDocument.purchaseRequestService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns="http://xmlns.oracle.com/apps/prc/po/editDocument/purchaseRequestService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Purchase Request Change Documents Service Data Object Version 1</name>
            <description>Version 1 of an object, representing the set of requisitions or
                purchase orders being changed and the type of change being
                performed on each document.</description>
            <oer:category name="lba">
                <value>PrcTop-Procurement</value>
                <value>PrcTop-Procurement : PrcPoTop-Purchasing</value>
                <value>PrcTop-Procurement : PrcPoTop-Purchasing :
                    PrcPoEditDocument-Edit Purchasing Document</value>
            </oer:category>
            <oer:category name="ces">
                <value>Fusion DOO to AU Order Entry/Fulfillment</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="A code indicating the change action to be performed. Valid values include CHANGE, CANCEL, or SPLIT."
                     name="ChangeActionCode"/>
                <oer:attribute description="See GetPurchaseRequest ChangeReason" name="ChangeActionReason"/>
                <oer:attribute description="The unique identifier of a requisition line." name="RequisitionLineId"/>
                <oer:attribute description="The unique identifier of a purchase order schedule." name="LineLocationId"/>
                <oer:attribute description="The unique identifier of a purchase order change order."
                     name="BaseLineChangeOrderSequence"/>
                <oer:attribute description="A text field capturing a value that allows integrating applications to correlate their transaction with the Fusion Procurement transaction."
                     name="IntegrationKey"/>
                <oer:attribute description="A code indicating if the integrating application is orchestrating changes between their application and Fusion Procurement. Example values include DOO_TRACKED and SCO_TRACKED."
                     name="OrchestrationCode"/>
                <oer:attribute description="The ordered quantity for the purchase order schedule."
                     name="Quantity"/>
                <oer:attribute description="The day that the buying company has requested that the supplier deliver the item."
                     name="RequestedDeliveryDate"/>
                <oer:attribute description="The day that the buying company has requested that the ordered item is ready to be shipped."
                     name="RequestedShipDate"/>
                <oer:attribute description="The unique identifier of a company that transports goods from one point to another by land, sea, or air."
                     name="CarrierId"/>
                <oer:attribute description="The display name of a company that transports goods from one point to another by land, sea, or air."
                     name="Carrier"/>
                <oer:attribute description="A code indicating the various modes of transportation used for the movement of goods."
                     name="ModeOfTransportCode"/>
                <oer:attribute description="The display name of a mode of transportation used to describe the movement of goods."
                     name="ModeOfTransport"/>
                <oer:attribute description="A code indicating the priority of transportation that affects how quickly goods are transported."
                     name="ServiceLevelCode"/>
                <oer:attribute description="The display name of a transportation priority that affects how quickly goods are transported."
                     name="ServiceLevel"/>
                <oer:attribute description="Indicates whether or not planning can reschedule or cancel the purchase order schedule."
                     name="FirmFlag"/>
                <oer:attribute description="A text description capturing the reason for performing the firm action."
                     name="FirmReason"/>
                <oer:attribute description="A code indicating if the item should be charged to an inventory or should be expensed."
                     name="DestinationTypeCode"/>
                <oer:attribute description="The display name indicating if the item should be charged to an inventory or should be expensed."
                     name="DestinationType"/>
                <oer:attribute description="Indicates whether or not the purchase order schedule has a backing sales order that is fulfilled using a back to back order."
                     name="BackToBackFlag"/>
                <oer:attribute description="The unique identifier of a location where the supplier should ship the goods."
                     name="ShipToLocationId"/>
                <oer:attribute description="A code indicating the location where the supplier should ship the goods."
                     name="ShipToLocationCode"/>
                <oer:attribute description="The unique identifier of a customer to which materials, being procured in a drop ship or a back to back arrangement, need to be shipped."
                     name="ShipToCustomerId"/>
                <oer:attribute description="The display name of a customer to which materials, being procured in a drop ship or a back to back arrangement, need to be shipped."
                     name="ShipToCustomerName"/>
                <oer:attribute description="The display number used to identify a customer to which materials, being procured in a drop ship or a back to back arrangement, need to be shipped."
                     name="ShipToCustomerNumber"/>
                <oer:attribute description="The unique identifier of a customer location to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerLocationId"/>
                <oer:attribute description="The original system reference for the customer location to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerLocationOriginalSystemReference"/>
                <oer:attribute description="The CLLI Code for the customer location to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerLocationCLLICode"/>
                <oer:attribute description="The unique identifier of a customer contact to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerContactId"/>
                <oer:attribute description="The email of a customer contact to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerContactName"/>
                <oer:attribute description="The display name of a customer contact to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerContactEmail"/>
                <oer:attribute description="The display number used to identify a customer contact to which materials, being procured in a drop ship arrangement, need to be shipped."
                     name="ShipToCustomerContactNumber"/>
                <oer:attribute description="The display number used to identify a backing customer sales order number."
                     name="SalesOrderNumber"/>
                <oer:attribute description="The display number used to identify a backing customer sales order line number."
                     name="SalesOrderLineNumber"/>
                <oer:attribute description="The display number used to identify a backing customer sales order schedule number."
                     name="SalesOrderScheduleNumber"/>
                <oer:attribute description="The display number used to identify a purchase order from the customer that originated the sales order which is being fulfilled by the material being procured in a drop ship arrangement."
                     name="CustomerPONumber"/>
                <oer:attribute description="The display number used to identify a purchase order line from the customer that originated the sales order which is being fulfilled by the material being procured in a drop ship arrangement."
                     name="CustomerPOLineNumber"/>
                <oer:attribute description="The display number used to identify a purchase order schedule from the customer that originated the sales order which is being fulfilled by the material being procured in a drop ship arrangement."
                     name="CustomerPOScheduleNumber"/>
                <oer:attribute description="The display name of a customer&apos;s identification number or code for the goods ordered on your order line."
                     name="CustomerItemNumber"/>
                <oer:attribute description="A text description capturing a customer&apos;s identification number or code for the goods ordered on your order line."
                     name="CustomerItemDescription"/>
                <oer:attribute description="The maximum acceptable number of days early for receipts."
                     name="DaysEarlyReceiptAllowed"/>
                <oer:attribute description="The maximum acceptable number of days late for receipts."
                     name="DaysLateReceiptAllowed"/>
                <oer:attribute description="The tolerance that allows a purchase order schedule to receive more than ordered quantity or amount without triggering the over-receipt action."
                     name="OverReceiptTolerancePercent"/>
                <oer:attribute description="Indicates whether all attachments should be deleted without creating new attachments."
                     name="DeleteAllAttachmentsFlag"/>
                <oer:attribute description="Attachments of this category provide additional information about the item being ordered and will be copied over from the source object to the purchase order line."
                     name="AttachmentCategoryItem"/>
                <oer:attribute description="Attachments of this category provide additional information about the shipment being scheduled, like shipping or packing instructions, and will be copied over from the source object to the purchase order schedule."
                     name="AttachmentCategoryShip"/>
                <oer:attribute description="A code indicating the object from which the attachments should be copied."
                     name="EntityName"/>
                <oer:attribute description="The unique identifier of an object from which attachments should be copied."
                     name="PrimaryKeyValue1"/>
                <oer:attribute description="The unique identifier of an object from which attachments should be copied."
                     name="PrimaryKeyValue2"/>
                <oer:attribute description="The unique identifier of an object from which attachments should be copied."
                     name="PrimaryKeyValue3"/>
                <oer:attribute description="The unique identifier of an object from which attachments should be copied."
                     name="PrimaryKeyValue4"/>
                <oer:attribute description="The unique identifier of an object from which attachments should be copied."
                     name="PrimaryKeyValue5"/>
                <oer:attribute description="A text description capturing the instructions to the supplier."
                     name="NoteToSupplier"/>
                <oer:attribute description="A text description capturing the instructions to the receiver in the docking area to be reviewed while performing the receipt."
                     name="NoteToReceiver"/>
                <oer:attribute description="The unique identifier of a final delivery location for goods previously received from a supplier."
                     name="DeliverToLocationId"/>
                <oer:attribute description="A code indicating the final delivery location for goods previously received from a supplier."
                     name="DeliverToLocationCode"/>
                <oer:attribute description="The display name of a subinventory to which the requested item should be delivered."
                     name="DestinationSubinventory"/>
                <oer:attribute description="The unique identifier of a requester." name="RequesterId"/>
                <oer:attribute description="The email address for a requester." name="RequesterEmail"/>
                <oer:attribute description="The unique identifier of a customer to which materials, being procured in a drop ship or back to back arrangement, need to be delivered."
                     name="DeliverToCustomerId"/>
                <oer:attribute description="The display name of a customer to which materials, being procured in a drop ship or back to back arrangement, need to be delivered."
                     name="DeliverToCustomerName"/>
                <oer:attribute description="The display number used to identify a customer to which materials, being procured in a drop ship or a back to back arrangement, need to be delivered."
                     name="DeliverToCustomerNumber"/>
                <oer:attribute description="The unique identifier of a customer location to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerLocationId"/>
                <oer:attribute description="The original system reference for the customer location to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerLocationOriginalSystemReference"/>
                <oer:attribute description="The CLLI code for the customer location to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerLocationCLLICode"/>
                <oer:attribute description="The unique identifier of a customer contact to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerContactId"/>
                <oer:attribute description="The display name of a customer contact to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerContactName"/>
                <oer:attribute description="The email of a customer contact to which materials, being procured in a drop ship arrangement, need to be delivered."
                     name="DeliverToCustomerContactEmail"/>
                <oer:attribute description="The display number used to identify a customer contact to which materials, being procured in a drop ship arrangement, need to be delivered"
                     name="DeliverToCustomerContactNumber"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:complexType name="PurchaseRequestChangeEntryDetail">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>ChangeRequestId</attribute>
                    <attribute>ChangeRequestDetailId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ChangeActionCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChangeActionReason" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequisitionLineId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="LineLocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="BaseLineChangeOrderSequence" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="IntegrationKey" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrchestrationCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Quantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="RequestedDeliveryDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RequestedShipDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="CarrierId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Carrier" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ModeOfTransportCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ModeOfTransport" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ServiceLevelCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ServiceLevel" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FirmFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="FirmReason" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DestinationTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DestinationType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BackToBackFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="ShipToLocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ShipToLocationCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ShipToCustomerName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerLocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ShipToCustomerLocationOriginalSystemReference" nillable="true"
                 type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerLocationCLLICode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerContactId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ShipToCustomerContactName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerContactNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesOrderNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesOrderLineNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesOrderScheduleNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerPONumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerPOLineNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerPOScheduleNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerItemNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerItemDescription" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DaysEarlyReceiptAllowed" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="DaysLateReceiptAllowed" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="OverReceiptTolerancePercent" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="DeleteAllAttachmentsFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="AttachmentCategoryItem" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttachmentCategoryShip" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EntityName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryKeyValue1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryKeyValue2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryKeyValue3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryKeyValue4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryKeyValue5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NoteToSupplier" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NoteToReceiver" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToLocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="DeliverToLocationCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DestinationSubinventory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequesterId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="RequesterEmail" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerLocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerLocationOriginalSystemReference" nillable="true"
                 type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerLocationCLLICode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerContactId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerContactName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerContactNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipToCustomerContactEmail" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeliverToCustomerContactEmail" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="purchaseRequestChangeEntryDetail" type="PurchaseRequestChangeEntryDetail"/>
</xsd:schema>
