public/wsdls/PurchaseRequestInputReqDistInterface.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/prc/po/editDocument/purchaseRequestService/"
     sdoJava:package="oracle.apps.prc.po.editDocument.purchaseRequestService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns="http://xmlns.oracle.com/apps/prc/po/editDocument/purchaseRequestService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Purchase Request Create Requisition Distribution Service Data
                Object Version 1</name>
            <description>Version 1 of an object, representing the set of requisition
                distribution attributes that are being used to initiate the
                creation of a purchase request.</description>
            <oer:attributes>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute1"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute10"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute11"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute12"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute13"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute14"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute15"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute16"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute17"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute18"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute19"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute2"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute20"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute3"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute4"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute5"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute6"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute7"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute8"/>
                <oer:attribute description="The user descriptive flexfield segment." name="Attribute9"/>
                <oer:attribute description="The user descriptive flexfield structure." name="AttributeCategory"/>
                <oer:attribute description="The user descriptive flexfield attribute date." name="AttributeDate1"/>
                <oer:attribute description="The user descriptive flexfield attribute date." name="AttributeDate10"/>
                <oer:attribute description="The user descriptive flexfield attribute date." name="AttributeDate2"/>
                <oer:attribute description="The user descriptive flexfield attribute date." name="AttributeDate3"/>
                <oer:attribute description="The user descriptive flexfield attribute date." name="AttributeDate4"/>
                <oer:attribute description="The user descriptive flexfield attribute date." name="AttributeDate5"/>
                <oer:attribute description="The user descriptive flexfield attribute date." name="AttributeDate6"/>
                <oer:attribute description="The user descriptive flexfield attribute date." name="AttributeDate7"/>
                <oer:attribute description="The user descriptive flexfield attribute date." name="AttributeDate8"/>
                <oer:attribute description="The user descriptive flexfield attribute date." name="AttributeDate9"/>
                <oer:attribute description="The user descriptive flexfield attribute number." name="AttributeNumber1"/>
                <oer:attribute description="The user descriptive flexfield attribute number." name="AttributeNumber10"/>
                <oer:attribute description="The user descriptive flexfield attribute number." name="AttributeNumber2"/>
                <oer:attribute description="The user descriptive flexfield attribute number." name="AttributeNumber3"/>
                <oer:attribute description="The user descriptive flexfield attribute number." name="AttributeNumber4"/>
                <oer:attribute description="The user descriptive flexfield attribute number." name="AttributeNumber5"/>
                <oer:attribute description="The user descriptive flexfield attribute number." name="AttributeNumber6"/>
                <oer:attribute description="The user descriptive flexfield attribute number." name="AttributeNumber7"/>
                <oer:attribute description="The user descriptive flexfield attribute number." name="AttributeNumber8"/>
                <oer:attribute description="The user descriptive flexfield attribute number." name="AttributeNumber9"/>
                <oer:attribute description="The user descriptive flexfield attribute timestamp." name="AttributeTimestamp1"/>
                <oer:attribute description="The user descriptive flexfield attribute timestamp." name="AttributeTimestamp10"/>
                <oer:attribute description="The user descriptive flexfield attribute timestamp." name="AttributeTimestamp2"/>
                <oer:attribute description="The user descriptive flexfield attribute timestamp." name="AttributeTimestamp3"/>
                <oer:attribute description="The user descriptive flexfield attribute timestamp." name="AttributeTimestamp4"/>
                <oer:attribute description="The user descriptive flexfield attribute timestamp." name="AttributeTimestamp5"/>
                <oer:attribute description="The user descriptive flexfield attribute timestamp." name="AttributeTimestamp6"/>
                <oer:attribute description="The user descriptive flexfield attribute timestamp." name="AttributeTimestamp7"/>
                <oer:attribute description="The user descriptive flexfield attribute timestamp." name="AttributeTimestamp8"/>
                <oer:attribute description="The user descriptive flexfield attribute timestamp." name="AttributeTimestamp9"/>
                <oer:attribute description="The unique identifier of the General Ledger charge account."
                     name="ChargeAccountId"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment1"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment10"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment11"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment12"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment13"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment14"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment15"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment16"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment17"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment18"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment19"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment2"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment20"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment21"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment22"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment23"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment24"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment25"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment26"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment27"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment28"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment29"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment3"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment30"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment4"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment5"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment6"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment7"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment8"/>
                <oer:attribute description="The charge account key flexfield segment." name="ChargeAccountSegment9"/>
                <oer:attribute description="The total amount of the distribution according to the distribution quantity and requisition line price."
                     name="DistributionAmount"/>
                <oer:attribute description="The quantity for the requisition distribution." name="DistributionQuantity"/>
                <oer:attribute description="The cloud interface alternate distribution key code for integrating applications to be able to identify the requisition distribution data loaded in the interface table."
                     name="InterfaceDistributionKey"/>
                <oer:attribute description="Indicates whether or not the expenditure item is capitalizable after it is fully processed.  The debit amount for a capitalizable transaction is generally made to a construction in progress account."
                     name="ProjectCapitalizableFlag"/>
                <oer:attribute description="An attribute that determines which contextual segments of a descriptive flexfield to display for a transaction. For example, an expense report transaction may have different descriptive flexfield segments defined as compared to a time card transaction."
                     name="ProjectContextCategory"/>
                <oer:attribute description="The unique identifier of the contract. This attribute is used when Oracle Fusion Project Billing or Oracle Fusion Grants Management is installed."
                     name="ProjectContractId"/>
                <oer:attribute description="The unique identifier of the contract line. This attribute is used when Oracle Fusion Project Billing or Oracle Fusion Grants Management is installed."
                     name="ProjectContractLineId"/>
                <oer:attribute description="The specified day which the expenditure item was incurred."
                     name="ProjectExpenditureItemDate"/>
                <oer:attribute description="The unique identifier of a classification of cost that assigned to each expenditure item. Expenditure types are grouped into cost groups (expenditure categories) and revenue groups (revenue categories)."
                     name="ProjectExpenditureTypeId"/>
                <oer:attribute description="The unique identifier of the project funding override. This attribute is used when Oracle Fusion Project Billing or Oracle Fusion Grants Management is installed."
                     name="ProjectFundingAllocationId"/>
                <oer:attribute description="The unique identifier of the organization that incurred the cost on the expenditure item."
                     name="ProjectOrganizationId"/>
                <oer:attribute description="The unique identifier of a project." name="ProjectId"/>
                <oer:attribute description="The display name of a project. A project is a finite endeavor (having specific start and finish dates) undertaken to create a product or provide a service."
                     name="ProjectName"/>
                <oer:attribute description="The reserved  descriptive flexfield segment for future project related functionality."
                     name="ProjectReservedAttribute1"/>
                <oer:attribute description="The unique identifier of the number of a task which is a subdivision of project work."
                     name="ProjectTaskId"/>
                <oer:attribute description="The display name of a task which is a subdivision of project work."
                     name="ProjectTaskName"/>
                <oer:attribute description="The user descriptive flexfield segment for future project related functionality."
                     name="ProjectUserDefinedAttribute1"/>
                <oer:attribute description="The user descriptive flexfield segment for future project related functionality."
                     name="ProjectUserDefinedAttribute10"/>
                <oer:attribute description="The user descriptive flexfield segment for future project related functionality."
                     name="ProjectUserDefinedAttribute2"/>
                <oer:attribute description="The user descriptive flexfield segment for future project related functionality."
                     name="ProjectUserDefinedAttribute3"/>
                <oer:attribute description="The user descriptive flexfield segment for future project related functionality."
                     name="ProjectUserDefinedAttribute4"/>
                <oer:attribute description="The user descriptive flexfield segment for future project related functionality."
                     name="ProjectUserDefinedAttribute5"/>
                <oer:attribute description="The user descriptive flexfield segment for future project related functionality."
                     name="ProjectUserDefinedAttribute6"/>
                <oer:attribute description="The user descriptive flexfield segment for future project related functionality."
                     name="ProjectUserDefinedAttribute7"/>
                <oer:attribute description="The user descriptive flexfield segment for future project related functionality."
                     name="ProjectUserDefinedAttribute8"/>
                <oer:attribute description="The user descriptive flexfield segment for future project related functionality."
                     name="ProjectUserDefinedAttribute9"/>
                <oer:attribute description="The unique identifier of a classification of the work associated with a task"
                     name="ProjectWorkTypeId"/>
                <oer:attribute description="The percentage of the requisition distribution." name="Percent"/>
                <oer:attribute description="The display name of a classification of cost that you assign to each expenditure item. Expenditure types are grouped into cost groups and revenue groups."
                     name="ProjectExpenditureTypeName"/>
                <oer:attribute description="The display name of the organization that incurred the cost on the expenditure item."
                     name="ProjectOrganizationName"/>
                <oer:attribute description="The display name of a classification of the work associated with a task"
                     name="ProjectWorkTypeName"/>
                <oer:attribute description="Indicates whether or not the expenditure item is billable after it is fully processed."
                     name="ProjectBillableFlag"/>
                <oer:attribute description="The date used to derive the budget period from which budget is consumed."
                     name="BudgetDate"/>
                <oer:attribute description="Name of the contract. This attribute is used when Oracle Fusion Project Billing or Oracle Fusion Grants Management is installed."
                     name="ProjectContractName"/>
                <oer:attribute description="Number of the contract. This attribute is used when Oracle Fusion Project Billing or Oracle Fusion Grants Management is installed."
                     name="ProjectContractNumber"/>
                <oer:attribute description="The  number assigned to a project. A project is a finite endeavor (having specific start and finish dates) undertaken to create a product or provide a service."
                     name="ProjectNumber"/>
                <oer:attribute description="The display name used to identify the funding source associated with a sponsored project."
                     name="ProjectFundingSourceName"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:complexType name="PurchaseRequestInputReqDistInterface">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>ReqDistInterfaceId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Attribute1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeDate1" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate10" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate2" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate3" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate4" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate5" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate6" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate7" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate8" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate9" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeNumber1" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber10" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber2" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber3" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber4" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber5" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber6" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber7" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber8" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber9" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp1" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp10" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp2" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp3" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp4" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp5" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp6" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp7" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp8" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeTimestamp9" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="ChargeAccountId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment16" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment17" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment18" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment19" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment20" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment21" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment22" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment23" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment24" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment25" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment26" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment27" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment28" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment29" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment30" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ChargeAccountSegment9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DistributionAmount" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="DistributionQuantity" nillable="true" type="ns0:MeasureType"/>
            <xsd:element minOccurs="0" name="InterfaceDistributionKey" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectCapitalizableFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="ProjectContextCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectContractId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ProjectContractLineId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ProjectExpenditureItemDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="ProjectExpenditureTypeId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ProjectFundingAllocationId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ProjectOrganizationId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ProjectId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ProjectName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectReservedAttribute1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectTaskId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ProjectTaskName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectUserDefinedAttribute1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectUserDefinedAttribute10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectUserDefinedAttribute2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectUserDefinedAttribute3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectUserDefinedAttribute4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectUserDefinedAttribute5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectUserDefinedAttribute6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectUserDefinedAttribute7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectUserDefinedAttribute8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectUserDefinedAttribute9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectWorkTypeId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Percent" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ProjectExpenditureTypeName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectOrganizationName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectWorkTypeName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectBillableFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="BudgetDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="ProjectContractName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectContractNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectFundingSourceName" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="purchaseRequestInputReqDistInterface" type="PurchaseRequestInputReqDistInterface"/>
</xsd:schema>
